<?php
define('URL', '{{ app_url }}');
define('HOST', '{{ biblioteca_db_host }}');
define('USER', '{{ biblioteca_db_user }}');
define('PASS', '{{ biblioteca_db_password }}');
define('DB', '{{ biblioteca_db_name }}');
